<div id="main" class="contact-page">

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h3>Contact</h3>
            </div>
        </div><!--end row-->

        <div class="contact-container" ng-controller="ContactPageCtrl">
            <form name="contactform" method="post" action="" role="form" validation ng-submit=submit(contactform)>
                <div class="row">
                    <div class="col-md-12">
                        <div ng-hide="formError()" ng-class="result">
                            {{resultMessage}}
                        </div>
                    </div>

                    <div class="col-md-12">
                        <input type="text" name="name" ng-model="contactData.name" placeholder="Full Name" ng-minlength="3" required>
                    </div>

                    <div class="col-md-12">
                        <input type="email" name="email" ng-model="contactData.email" placeholder="email@mail.com" ng-minlength="3" required>
                    </div>

                    <div class="col-md-12">
                        <textarea ng-model="contactData.message" id="input-message" cols="30" rows="10" placeholder="Type your messege"></textarea>
                    </div>

                    <div class="col-md-1">
                        <input type="button" class="btn-submit" ng-disabled="submitButtonDisabled" ng-click="submit(contactform)" value="Send">
                    </div>
                </div><!--end row-->
            </form><!--end contact-form-->
        </div><!-- end contact-container-->

    </div><!-- end container-->

</div><!--end contact-page-->
