<div id="main" class="about-page">
    <!-- INTRO SECTION -->
    <section id="intro">
        <div class="container-fluid">
             <div class="row">
                <div class="col-md-12">
                     <div class="arrow-down"></div><!--end arrow-down-->
                </div><!--end col-md-12-->
            </div><!--end row-->


        </div><!--end container-->

    </section><!--end intro-->

    <div class="container">
       <div class="row">

           <div class="col-md-8 col-md-offset-2">
                <div class="about-box">
                    <h4>Who we are?</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, nobis. Enim commodi numquam rerum repudiandae repellat, placeat impedit veniam. In vel possimus, dolorum ratione a tempore veritatis maiores, incidunt fugit!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                    <p> Animi sed facere error voluptate asperiores qui temporibus eveniet soluta veritatis, eligendi? Laborum saepe officiis quam reiciendis placeat molestiae, aliquid beatae nobis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam accusantium sequi fugit voluptatem earum sed id placeat, perspiciatis, similique ex tempore aut quo itaque, necessitatibus animi! Qui cumque nulla illum.</p>

                </div><!--end about-box-->

           </div>
        </div><!--end row-->
    </div><!--end container-->

    <div class="col-md-12">
       <div class="box-separator"></div>
    </div>

    <div class="container">
        <div class="row">

            <div class="col-md-8 col-md-offset-2">
                <div class="about-box">
                    <h4>Our philosophy</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, nobis. Enim commodi numquam rerum repudiandae repellat, placeat impedit veniam. In vel possimus, dolorum ratione a tempore veritatis maiores, incidunt fugit!Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                    <p> Animi sed facere error voluptate asperiores qui temporibus eveniet soluta veritatis, eligendi? Laborum saepe officiis quam reiciendis placeat molestiae, aliquid beatae nobis.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam accusantium sequi fugit voluptatem earum sed id placeat, perspiciatis, similique ex tempore aut quo itaque, necessitatibus animi! Qui cumque nulla illum.</p>
                </div><!--end about-box-->
           </div>

       </div><!--end row-->
    </div><!--end container-->
</div><!--end main-->
