<div id="main" class="checkout-page">
   
    <div class="container">
       
        <div class="row">
            
            <div class="col-md-12">
                <h3>Checkout</h3>
            </div><!--end col-md-12-->
            
        </div>
            
        <div class="row">
        
            <form name="checkoutForm" action="post" method="">
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="firtsName">First Name*</label>
                        <input type="name" class="form-control input-lg" id="firstName" placeholder="First Name">
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lastName">Last Name*</label>
                        <input type="name" class="form-control input-lg" id="lastName" placeholder="Last Name">
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="copmanyName">Company Name</label>
                        <input type="text" class="form-control input-lg" id="copmanyName" placeholder="Company Name">
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="emailAddress">Email Address*</label>
                        <input type="email" class="form-control input-lg" id="emailAddress" placeholder="Email">
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="phoneNumber">Phone Number*</label>
                        <input type="text" class="form-control input-lg" id="phoneNumber" placeholder="Phone Number">
                    </div>
                </div>
                
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="country">Country*</label>
                        <input type="text" class="form-control input-lg" id="country" placeholder="Country">
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="streetAddress">Street Address*</label>
                        <input type="text" class="form-control input-lg" id="streetAddress" placeholder="Street Address">
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="apartment">Apartment</label>
                        <input type="text" class="form-control input-lg" id="apartment" placeholder="Apartment/unit (optional)">
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="townCity">Town/City*</label>
                        <input type="text" class="form-control input-lg" id="townCity" placeholder="Town/City">
                    </div>
                </div>
                
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="zipCode">ZipCode*</label>
                        <input type="text" class="form-control input-lg" id="zipCode" placeholder="ZipCode">
                    </div>
                </div>
               
            </form>
            
        </div><!--end row-->
        
        <div class="row">
            
            <div class="payment">
                
                <form name="paymentForm" action="post" method="">
                
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="cardNumber">Card Number*</label>
                        <input type="name" class="form-control input-lg" id="cardNumber" placeholder="**** **** **** ****">
                    </div>
                </div>
                
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="expiryDate">Expiry date</label>
                        <input type="name" class="form-control input-lg" id="expiryDate" placeholder="MM/YY">
                    </div>
                </div>
                
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="cardCode">Card Code*</label>
                        <input type="name" class="form-control input-lg" id="cardCode" placeholder="CVC">
                    </div>
                </div>
                
                <div class="col-md-4 pull-right">
                    <div class="form-group">
                        <button type="button" class="btn btn-success btn-block pull-right">
                            Order
                        </button>
                    </div>
                </div>
                
                </form>
                
            </div><!--end payment-->
            
        </div>
        
    </div><!--end container-->
    
</div><!--end checkout-page-->
