<div id="main" class="cofes-page">

    <!-- INTRO SECTION -->
    <section id="intro">

        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <div class="intro-heading">
                        <div class="container">
                            <h1>Where are we?</h1>
                            <h2>Discover more,
                            <br>scrolling down</h2>
                        </div>
                    </div><!--intro-heading-->
                </div>
            </div><!--end row-->

             <div class="row">
                <div class="col-md-12">
                     <div class="arrow-down"></div><!--end arrow-down-->
                </div><!--end col-md-12-->
            </div><!--end row-->


        </div><!--end container-->

    </section><!--end intro-->

    <!-- OUR SHOPS SECTION -->
    <section id="shop" class="address-1">
        <div class="container-fluid">
            <div class="row">

                <div class="col-sm-6 padding-none move-right">
                    <div class="bg raviolli"></div>
                </div><!--end col-->

                <div class="col-sm-6 padding-none">

                    <div class="box primary-color">
                        <div class="move-left">
                            <h2>Raviolli street</h2>
                            <h5 class="fancy"><span>main museum</span></h5>

                            <div class="desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quis enim tempora quod impedit quia ex aliquid, ad, atque nostrum deserunt eum vero autem, animi sed adipisci suscipit architecto omnis.</p>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non voluptatibus inventore rem, incidunt amet fugiat laudantium! Provident, cumque. Ratione sit quasi veritatis incidunt ipsa rerum suscipit voluptas atque reiciendis aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, sequi ipsa temporibus laudantium praesentium cumque ad harum perspiciatis, explicabo eveniet delectus error esse fuga neque blanditiis, voluptas mollitia reprehenderit facilis.</p>
                            </div><!--end desc-->

                            <a target="_blank"  href="https://goo.gl/maps/9bJZtK8NWL32" class="btn-discover">Discover more</a><!--end bnt-small-->
                        </div>
                    </div><!--end our-shops-->

                </div><!--end col-->

            </div><!--end row-->
        </div><!--end container-->
    </section><!--end shop-->

    <!-- OUR COFFEE SECTION -->
    <section id="coffee" class="address-2">
        <div class="container-fluid">
            <div class="row">

                <div class="col-sm-6 padding-none">

                     <div class="box white-coffee">

                        <div class="move-right">
                            <h2>The Mall street</h2>
                            <h5 class="fancy"><span>since 1999</span></h5>

                            <div class="desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quis enim tempora quod impedit quia ex aliquid, ad, atque nostrum deserunt eum vero autem, animi sed adipisci suscipit architecto omnis.</p>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non voluptatibus inventore rem, incidunt amet fugiat laudantium! Provident, cumque. Ratione sit quasi veritatis incidunt ipsa rerum suscipit voluptas atque reiciendis aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, sequi ipsa temporibus laudantium praesentium cumque ad harum perspiciatis, explicabo eveniet delectus error esse fuga neque blanditiis, voluptas mollitia reprehenderit facilis.</p>
                            </div><!--end desc-->

                            <a target="_blank" href="https://goo.gl/maps/SRXgZ958as42" class="btn-discover">Discover more</a><!--end bnt-small-->
                        </div>
                    </div><!--end our-shops-->
                </div><!--end col-->

                <div class="col-sm-6 padding-none move-left">

                    <div class="bg mall"></div>

                </div><!--end col-->

            </div><!--end row-->
        </div><!--end container-->
    </section><!--end coffee-->

    <!-- OUR SHOPS SECTION -->
    <section id="shop" class="address-3">
        <div class="container-fluid">
            <div class="row">

                <div class="col-sm-6 padding-none move-right">
                    <div class="bg doe-avenue"></div>
                </div><!--end col-->

                <div class="col-sm-6 padding-none">

                    <div class="box primary-color">
                        <div class="move-left">
                            <h2>Doe Avenue</h2>
                            <h5 class="fancy"><span>since 2014</span></h5>

                            <div class="desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quis enim tempora quod impedit quia ex aliquid, ad, atque nostrum deserunt eum vero autem, animi sed adipisci suscipit architecto omnis.</p>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non voluptatibus inventore rem, incidunt amet fugiat laudantium! Provident, cumque. Ratione sit quasi veritatis incidunt ipsa rerum suscipit voluptas atque reiciendis aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, sequi ipsa temporibus laudantium praesentium cumque ad harum perspiciatis, explicabo eveniet delectus error esse fuga neque blanditiis, voluptas mollitia reprehenderit facilis.</p>
                            </div><!--end desc-->

                            <a target="_blank" href="https://goo.gl/maps/fmq2m3SqNoS2" class="btn-discover">Discover more</a><!--end bnt-small-->
                        </div>
                    </div><!--end our-shops-->

                </div><!--end col-->

            </div><!--end row-->
        </div><!--end container-->
    </section><!--end shop-->


</div><!--end cofes-page-->
