<div ng-controller="MainCtrl" ng-init="getData()">

  <div id="main" class="webshop-page">

    <!-- INTRO SECTION -->
    <section id="intro">

        <div class="container-fluid">

            <cart-icon></cart-icon>

            <div class="row">
                <div class="col-md-12">
                    <div class="intro-heading">
                       <h3>Welcome to our store!</h3>
                    </div><!--intro-img-->
                </div>
            </div><!--end row-->

        </div><!--end container-->

    </section><!--end intro-->

    <!-- OUR WEBSHOP SECTION -->
    <section id="products">
        <div class="container">
            <div class="row">

            <div ng-repeat="product in products">
                <div class="col-sm-6 col-md-4">
                    <div class="product-box">

                        <img ng-src="{{product.thumb}}" class="img-responsive product-img"/>

                        <div class="product-name">
                            <h4>{{product.title}}</h4>
                            <h5>{{product.price}}<sup>€</sup></h5>
                            <a href="#/products/{{product.id}}" class="btn-buy">View</a>
                            <button type="button" class="mybtn-add" ng-click="addCart(product)" ng-if="!selected(product)">
                               Add to Cart
                            </button>

                            <button type="button" class="mybtn-remove" ng-click="removeCart(product)" ng-if="selected(product)">
                               Remove
                            </button>
                            <!---->
                        </div>

                    </div><!--end product-box-->
                </div><!--end col-->
            </div>

            </div><!--end row-->
        </div><!--end container-->
    </section><!--end shop-->


  </div><!--end webshop-page-->


</div>
